#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgrey;
}

#img-div {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

#image {
  max-width: 100%;
  height: auto;
  padding: 2rem 3rem;
  border-radius: 8px;
}

#img-caption {
  margin-top: 8px;
  width: 500px;
  text-align: center;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-top: 2rem;
}